<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>测试进度管理</title>
<meta name="description" content="">
<meta name="keywords" content="">
<link href="main.css" rel="stylesheet" media="screen">
<link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="jquery.validate.js"></script>
<script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="mytest.js"></script>
</head>
<body>
	<%- include("./header.ejs") %>
	<%- include("./create.ejs") %>


</body>
<script type="text/javascript" charset="utf-8">  
            MyValidator.init();  
            
</script>  
</html>
