
		<div class="topbar-group ">
			<a class="btn btn-success btn_add js_add_btn col-sm-offset-10 " href="newtest?action=create"><span class="glyphicon glyphicon-plus"></span> 新建任务</a>

		
		<div id="container">
					<table class="table table-hover table-responsive table-bordered">
						<thead>
							<tr>
								<th>名称</th>
								<th>进度</th>
								<th>状态</th>
								<th>类型</th>
								<th>有无cgi</th>
								<th>操作</th>
								
							</tr>
						</thead>
						<tbody id="tbody">

						</tbody>
							
					</table>
					<div  id="tfootpage"></div>
				</div>
			
   
    </div>

   