
<form class="form-inline col-sm-offset-1" role="form">
 <div class="form-group">
        <label for="search_test_type" class=" control-label">测试单类型 </label>
      	
        <input type="text" id="search_test_type" class="form-control" placeholder="输入web或者wap等" name="search_test_type">
        
 </div>

        <button class="btn btn-info" type="button">
        	<span class="glyphicon glyphicon-search"></span>
        </button>

      
 </form>
