
<form class="form-inline col-sm-offset-8" role="form">
 <div class="form-group">
        <label for="search_by_tester" class=" control-label">测试人rtx：</label>
      	
        <input type="text" id="search_by_tester" class="form-control" placeholder="输入测试人rtx" name="search_by_tester">
        
 </div>

        <button class="btn " type="submit">
        	<span class="glyphicon glyphicon-search"></span>
        </button>

      
 </form>

<div id="container" class="table-style">

	<table class="table table-responsive table-bordered table-hover">
		<thead>
			<tr>
				<th>测试人</th>
				<th>进度</th>
				<th>状态</th>
				<th>类型</th>
				<th>有无cgi</th>
				<th>产品</th>
				<th>开发</th>
				<th>开始时间</th>
				<th>计划结束时间</th>								
			</tr>
		</thead>
		<tbody id="alltbody">
		</tbody>
	</table>

	<div   id="allfootpage"></div>
   
</div>