
<nav class="navbar navbar-default" role="navigation">
	<div class="container-fluid"> 
	<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse"
				data-target="#example-navbar-collapse">
			<span class="sr-only">切换导航</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<a class="navbar-brand" href="#">测试进度管理系统</a>
	</div>
	<div class="collapse navbar-collapse" id="example-navbar-collapse">
		<ul class="nav navbar-nav" id="menu">
			<li class="active mytest"><a href="/ejs" >更新我的进度</a></li>
			<li class="alltest"><a href="/alltest" >查看全部进度</a></li>
			<li class="readytest"><a href="/readytest" >今天要上线的单</a></li>
		</ul>
	</div>
	</div>
</nav>
