<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>测试进度管理</title>
<meta name="description" content="">
<meta name="keywords" content="">
<link href="main.css" rel="stylesheet" media="screen">
<link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
<link href="js/sweetalert/sweetalert.css" rel="stylesheet">
<script src="js/jquery-3.1.1.min.js"></script>
<script src="js/jquery.validate.js"></script>
<script src="bootstrap/js/bootstrap.min.js"></script>
<script src="js/sweetalert/sweetalert.min.js"></script>
<script src="js/laytpl.js"></script>
<script src="js/laypage/laypage.js"></script>
<script src="web-js/readytest1.js"></script>
</head>
<body>
	<%- include("./header.ejs") %>
	<%- include("./readytest.ejs") %>
</body>

<script id="readylist" type="text/template">
	{{# if(d.num==0){ }}
	<tr>
		<td>
			<p class="text-center">目前没有要上线的单</p>
		</td>
	</tr>
	
	{{# } else{ }}
		{{# for(var i=0;i<d.tests.length;i++){ }}
			<tr >
				<td>{{ d.tests[i].tester }} </td>
				{{# if(d.tests[i].job_progress==0){ }}
				<td>未开始测试</td>
				{{# } else if(d.tests[i].job_progress==1){ }}
				<td>主流程不通</td>
				{{# } else if(d.tests[i].job_progress==2){ }}
				<td>主流程可以走通</td>
				{{# } else if(d.tests[i].job_progress==3){ }}
				<td>剩余bug少于3个</td>
				{{# } else if(d.tests[i].job_progress==4){ }}
				<td>最后一轮校验</td>
				{{# } else if(d.tests[i].job_progress==5){ }}
				<td>准备上线</td>
				{{# } else if(d.tests[i].job_progress==6){ }}
				<td>已上线，测试用例未补充</td>
				{{# } else if(d.tests[i].job_progress==7){ }}
				<td>已上线，测试用例已补充</td>
				{{# } }}

				
				<td>{{ d.tests[i].type }}</td>
				<td>{{ d.tests[i].cgi_content }}</td>
				<td>{{ d.tests[i].producter }}</td>
				<td>{{ d.tests[i].developer }}</td>
				
			</tr>
		{{# } }}
				
		{{# } }}
						
 </script>
</html>