
<form class="form-inline col-sm-offset-8" role="form">
 <div class="form-group">
        <label for="search_test_type" class=" control-label">测试单类型：</label>
      	
        <input type="text" id="search_test_type" class="form-control" placeholder="输入web或者wap等" name="search_test_type">
        
 </div>

        <button class="btn " type="submit">
        	<span class="glyphicon glyphicon-search"></span>
        </button>

      
 </form>
<div id="container">
		
		

					<table class="table table-hover table-responsive table-bordered">
						<thead>
							<tr>
								<th>测试人</th>
								<th>进度</th>
								<th>类型</th>
								<th>有无cgi</th>
								<th>产品</th>
								<th>开发</th>								
							</tr>
						</thead>
						<tbody id="readytbody">

						</tbody>
							
					</table>
					<div  id="readyfootpage"></div>
				</div>
			
   
    </div>